{% extends "NinaTestBundle::admin-layout.html.twig" %}

{% block title "MoPad - Demos" %}

{% block content_header '' %}

{% block content %}
    <h1>Available demos</h1>
    <ul id="demo-list">
        <li><a href="{{ path('_test_blub', {'name': 'Blub'}) }}">blub</a></li>
        <li><a href="{{ path('_test_testpage', {'name': 'World'}) }}">testpage</a></li>
    </ul>
{% endblock %}
