/* Stylesheet */

* { 
	box-sizing: border-box; 
	font-family: Arial, sans-serif;
	font-size: 100%;		
}

html { height: 100%; }

body {
	height: 100%;
	font-family: Arial, sans-serif;
}

#main {
	margin: 3em;
}


#cancel_pending_game {
	margin: 0em !important;
}

#pins { 
	margin: 1em 0em 0em 0em !important;
}


/* Templates */

#player_slider {
	font-weight: bold;
}

#player_slider input {
	margin: 1em;
}

#list_player_li {
	list-style-type: none;
	margin-bottom: 0em;
}
