/* General */

.controlModule {
	/* disable selection of text, when clicked/dragged/etc. */
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.helpOverlay {
	position: absolute;
	top: 55%;
	width: 100%;
	text-align: center;
	color: #ccc;
	
	background-color: #fff;
	
	z-index: 99;
}

.button {
	height: 6em;
	width: 6em;
	text-align: center;
	line-height: 6em;
	
	border: 0.1em solid #333;
	border-radius: 50%;
	background-color: #fff;
}

/*.button:hover { background-color: #ddd; }*/
.button.active { background-color: #999; }


/* Modules */

/* Joypad */

.controlModule.joypad { 
	height: 100%;
	padding: 0.5em; 
}

.controlModule.joypad .borderBox {
	height: 100%;
	width: 100%;
	border: 0.1em solid #ccc;
	text-align: center;
}

.controlModule.joypad .dPad {
}

.controlModule.joypad .dPad .up { margin: 0 auto; }
.controlModule.joypad .dPad .down { margin: 0 auto; }
.controlModule.joypad .dPad .drag { 
	color: #ccc;
	margin: 0 auto; 
	border: 0;
}
.button.drag.active { background-color: white; }

#dragDpad {
	padding: 2em;
}

.controlModule.joypad .buttonGrid {
	font-weight: bold;
	width: 9em;
	float: right;
}

.controlModule.joypad .button.red { 
	color: red;
	float: left; 
}

.controlModule.joypad .button.blue { 
	color: blue;
	float: right; 
}


/* Joystick - unique! */

.controlModule.joystick {
	height: 100%;
	padding: 0.5em;
}

.controlModule.joystick #joystickField { /* "the whole page" */
	position: relative;
	border: 0.1em solid #ccc;
	width: 100%;
	height: 100%;
}

	
.controlModule.joystick #joystickWrapper {
	box-sizing: content-box; 
	position: absolute;
	width: 16em;
	height: 16em;
	border-radius: 8em;
	background-color: #999;
	border: 0.5em solid #ddd;
	/*box-shadow: inset 0 0 2em #333;*/
	/*background-image: -webkit-radial-gradient(50% 50%, circle contain, #ccc, #999 100%);*/
}
	
.controlModule.joystick #joystickNub {
	position: absolute;
	width: 7em;
	height: 7em;
	margin-top: 4.5em;
	margin-left: 4.5em;
	border-radius: 3.5em;
	background-color: #ddd; 
	/*box-shadow: 0 0 2em #999;*/
}
